@import url('../common.css');

.container {
  background: pink;
  width: 60%;
  margin: 50px auto;
  padding: 20px;
  border: 5px solid #caa;
}
.container .main-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.container .bottom {
  display: flex;
  justify-content: space-between;
}
.container .bottom article {
  width: 47%;
}
.container .bottom .green-tea {
  background: #dda;
}
.container .bottom .coffee {
  background: #ba7;
}
.container .bottom article p {
  padding: 15px;
  text-align: justify;
  line-height: 1.4;
  text-indent: 7px;
}