@import url('../../common.css');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 7px dashed orange;
  justify-content: space-between;
}
header {
  background: red;
  display: flex;
  justify-content: flex-end;
}
main {
  background: greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  background: dodgerblue;
  display: flex;
  justify-content: space-between;
}